// Colors

$primaryColor: #ff9933;
$secondaryColor: #00abbd;
$tertiaryColor: #f7f8e7;
$darkBlueColor: #026e81;
$lightBlueColor: #a1c7e0;

$inverseColor: #fff;
$grayLightColor: #f5f5f5;
$fontColor: #363636;
$visitedColor: #6598b8;

// Spacers

$size1: 4px;
$size2: 8px;
$size3: 12px;
$size4: 16px;
$size5: 20px;
$size6: 24px;
$size7: 32px;

$headerHeight: 64px;
$footerHeight: 60px;

// Breakpoints

$break1: 769px;
$break2: 1200px;

//Shadows
$boxShadowLight: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
$boxShadowMedium: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
