@import '~global-styles/styles.scss';

.PokemonCardComponent {
  $cardPadding: $size3;

  box-shadow: $boxShadowLight;
  text-align: center;
  max-width: 600px;
  height: 280px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .link {
    display: flex;
    justify-content: center;
    height: 100%;
  }

  .card-pokemon-image {
    max-height: 200px;
    display: flex;
    align-items: center;
    padding: $cardPadding;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  .card-pokemon-resume {
    background-color: $tertiaryColor;
    padding: $cardPadding 0;

    .pokemon-main-info {
      padding-left: $cardPadding;
    }
  }
}
