@import '~global-styles/styles.scss';

.SelectComponent {
  .select-input {
    .MuiSelect-select:focus {
      background-color: inherit;
    }
  }
  .clear-button {
    margin-right: $size5;
    padding: 0 $size1;
    &:hover {
      background-color: inherit;
      svg {
        fill: $primaryColor;
      }
    }
  }
}
